<!DOCTYPE html>
<html ng-app="app" ng-controller="employeeBenefitsController">
<head>
    <title ng-bind="header"></title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <form ng-submit="submitEmployee()">
        Enter Employee Name and hit add:
        <input type="text" ng-model="employeeName" name="employeeName" />
        <input type="submit" id="submit" value="Add" />
        <pre>Employee : {{listEmployees}}</pre>
    </form>

    <form ng-submit="submitDependent()">
        Enter Dependent Name and hit add:
        <input type="text" ng-model="dependentName" name="dependentName" />
        <input type="submit" id="submit" value="Add" />
        <pre>Dependents : {{listDependents}}</pre>
    </form>
    <form ng-submit="submit()">
        When Finished Entering Employee and Dependent information hit Submit
        <br />
        <br />
        <input type="submit" id="submit" value="Submit" />
    </form>
    <br />
    <input type="button" ng-click="clear()" id="clear" value="Clear" />
    <br />
    <label id="nameEmployee">{{lblEmployee}}</label>
    <br />
    <label id="employeeName">{{previewEmployee}}</label>
    <br />
    <br />
    <label id="nameDependents">{{lblDependents}}</label>
    <br />
    <label id="previewDependents">{{previewDependents}}</label>
    <br />
    <br />
    <table ng-hide="isHideTable">
        <tr>
            <td>{{lblTotalDiscounts}}</td>
            <td>{{totalDiscounts}}</td>
        </tr>
        <tr>
            <td>{{lblTotalBenefitCost}}</td>
            <td>{{totalBenefit}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 3px dotted;">{{lblTotalSalary}}</td>
            <td style="border-bottom: 3px dotted;">{{totalSalary}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 3px double;">{{lbltotalNetIncome}}</td>
            <td style="border-bottom: 3px double;">{{totalNetIncome}}</td>
        </tr>
        <tr>
            <td>{{lblWeeklySalary}}</td>
            <td>{{weeklySalary}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 3px dotted;">{{lblWeeklyDeduction}}</td>
            <td style="border-bottom: 3px dotted;">{{weeklyDeduction}}</td>
        </tr>
        <tr>
            <td style="border-bottom: 3px double;">{{lblWeeklyNetIncome}}</td>
            <td style="border-bottom: 3px double;">{{weeklyNetIncome}}</td>
        </tr>
    </table>




    <script src="~/Scripts/app/controllers/employeeBenefitsController.js"></script>
    <script src="~/Scripts/angular.js"></script>
    @Scripts.Render("~/bundles/app")
</body>
</html>